<div>
    <h2>MODIFICAR USUARIO:</h2>
    <form [formGroup]="usuarioForm" (ngSubmit)="modificarUsuario()">
    

    <p>
        Nombre: <input type="string" placeholder="Nombre" formControlName="nombre" />*
        <ng-container
          *ngIf="!formControls.nombre.valid && formControls.nombre.touched">
          <p *ngIf="formControls.nombre.errors.required">
            Este Campo es Obligatorio
          </p>
        </ng-container>
      </p>
  
      <p>
        Telefono: <input type="string" placeholder="Telefono" formControlName="telefono" />*
        <ng-container
          *ngIf="!formControls.telefono.valid && formControls.telefono.touched">
          <p *ngIf="formControls.telefono.errors.required">
            Este Campo es Obligatorio
          </p>
        </ng-container>
      </p>
    
      <p>
        <input type="submit" value="Modificar" [disabled]="usuarioForm.invalid" />
        <input type="submit" value="Atrás" (click) = "atras()" />
      </p>
    </form>
  </div>