<div>
    <h2>MODIFICAR UN EVENTO:</h2>
    <form [formGroup]="eventoForm" (ngSubmit)="modificarevento()">
        <p>
        
      Nombre del Evento: <input type="string" placeholder="Nombre del Evento" formControlName="nombreEvento" />*
      <ng-container
        *ngIf="!formControls.nombreEvento.valid &&formControls.nombreEvento.touched">
        <p *ngIf="formControls.nombreEvento.errors.required">
          Este Campo es Obligatorio
        </p>
      </ng-container>
    </p>

    <p>
      Fecha: <input type="string" placeholder="Fecha" formControlName="fecha" />*
      <ng-container
        *ngIf="!formControls.fecha.valid &&formControls.fecha.touched">
        <p *ngIf="formControls.fecha.errors.required">
          Este Campo es Obligatorio
        </p>
      </ng-container>
    </p>

    <p>
      Descripción: <input type="string" placeholder="descripcion" formControlName="descripcion" />*
      <ng-container
        *ngIf="!formControls.descripcion.valid && formControls.descripcion.touched">
        <p *ngIf="formControls.descripcion.errors.required">
          Este Campo es Obligatorio
        </p>
      </ng-container>
    </p>
  

      <p>
        <input type="submit" value="Modificar" [disabled]="eventoForm.invalid" />
        <input type="submit" value="Atrás" (click) = "atras()" />
      </p>
    </form>
  </div>